.inputs{
    /* border: 3px solid black;
     border-radius: 15px; */
     display: flex;
     flex-direction: column;
     margin-top: 20px;
     padding: 20px;
}
#num1{
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#num2{
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}